/* .Navbar ul {
  list-style-type: none;
}
.navLink {
    color: white;
    text-transform: uppercase;
  }
.selected {
    color: #82AC88;
    font-weight: bold;
  }
  /* nav {
    border-bottom: 1px solid #ccc;
  } */
  nav ul {
    list-style-type: none;
  }
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  nav a {
    padding: 5px;
  }

  /*user login and registration buttons*/
  .user-login-reg {
    /* background: red; */
    width: 60vh;
  }

  .register {
    margin-right: -60%;
    margin-left: 6%;
  } 