.App {
  text-align: center;
  background: url("./Components/background-image.jpg") no-repeat;
  /* background-image: */
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  background-size: 100%;
}

#myBody {
  /* background: url("./Components/background-image.jpg"); center center/cover no-repeat; */
  /* height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
  /* object-fit: contain;
  position:center;
  background-size: 100%;

  /* backdrop-filter: blur(10px); */
  color: white;
}
.App-link {
  color: #61dafb;
}
.leaflet-container {
  /* margin-bottom: 10px;
  margin-top: 10px; */
  /* margin-left: 5px;
  margin-right: 5px; */
  width: 100%;
  height: 100vh;
  display: inline-block;
  border-radius: 0%;
  /* background-color: rgba(255, 0, 0, 0); */
  background-color:#aad3df;
}
form {
  padding-top: 15px;
  display: inline-block;
  max-width: 700px;
}
#mapid {
  height: 180px;
}
.NavBar {
  background-color: lightcyan;
}
span::before {
  content: "\A";
  white-space: pre;
}
/* //popup CSS */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

th {
  color: rgb(76, 180, 158);
  font-size: smaller;
  text-decoration: none;
}

td {
  color: white;
}

h2 {
  margin-top: 30px !important;
}

.text-container {
  background-color: #243441;
  height: 80%;
  margin-top: 3%;
  margin-bottom: 10%;
  margin-right: 8%;
  margin-left: 8%;
  opacity: 0.9;
  text-shadow: 3px 3px 3px black;
}

.CreateABubbleForm {
  background-color: #243441;
  height: 80%;
  margin-top: 3%;
  margin-bottom: 10%;
  margin-right: 8%;
  margin-left: 8%;
  opacity: 0.9;
  text-shadow: 3px 3px 3px black;
}

.allbubbles {
  background-color: #243441;
  height: 100%;
  margin-top: 3%;
  margin-bottom: 10%;
  margin-right: 8%;
  margin-left: 8%;
  opacity: 0.96;
  text-shadow: 3px 3px 3px black;
}

.findBubble {
  background-color: #243441  !important;
  /* height: 80%;
  margin-top: 3%;
  margin-bottom: 10%;
  margin-right: 8%;
  margin-left: 8%;
  opacity: 0.96;
  text-shadow: 3px 3px 3px black; */
}