.App {
  text-align: center;
  background-color: #243441;
}

#myBody {
  background-color: #243441;
    color: white;
} 
.App-link {
  color: #61DAFB;
}
.leaflet-container {
  margin-bottom: 10px;
  margin-top: 10px;
  /* margin-left: 5px;
  margin-right: 5px; */
  width: 98%;
  height:80vh;
  display: inline-block;
  border-radius: 0%;
  background-color:rgba(255,0,0,0.0);
}
form {
  padding-top: 15px;
  display: inline-block;
  max-width: 700px;
}
#mapid { height: 180px; }
.NavBar {
  background-color: lightcyan;
}
span::before { content: '\A'; white-space: pre; }
/* //popup CSS */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #EDEDED;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

th {
  color:rgb(76, 180, 158);
  font-size: smaller;
  text-decoration: none;
}

td {
  color: white;
}
